body {
  margin: 0;
  padding: 0;
}

/************************** THEME **************************/
.dark {
  background-color: #2e5077;
  color: #ede6e3;
}

.light {
  background-color: #ede6e3;
  color: #2e5077;
}

/************************** ICONS **************************/
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}